/* ID, klasse, type */

body {
    height: 100vh;
}

.container {
    height: 100vh;
}

.fragment-logo {
    width: 160px;
}


.logo-bilabonnement {
    margin-left: 1.5em;
}

.fragment-style {
    width: 240px;
}


#energy-label{
    padding-left: 10px;
}

#indented-label{
padding-left: 25px;
}



.show-cars-table{

}


@media all and (max-width: 700px) {

    .fragment-style {
        width: 200px;
    }

    .fragment-logo {
        width: 140px;
    }

}

@media all and (max-width: 600px) {

    .fragment-style {
        width: 150px;
        margin: 0px;
        padding: 0px;
    }

    .fragment-logo {
        width: 90px;
    }

}