<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapportering og overvågning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div th:fragment="business-sidebar-fragment">
    <div class="flex-shrink-0 p-3 bg-white h-100 border-end fragment-style">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <img class="logo-bilabonnement fragment-logo" src="/images/logo_bilabo.png"  alt="Logo Bilabonnement">
        </a>
        <ul class="list-unstyled ps-3">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                    Dashboard
                </button>
                <div>
                    <ul class="btn-toggle-nav fw-normal pb-1 small list-unstyled ps-4">
                        <li><a th:href="@{/show-reserved-cars}" class="link-dark rounded">Udlejede biler</a></li>
                        <li><a th:href="@{/show-income-chosen-year/2022}" class="link-dark rounded">Økonomisk overblik</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>